compreffor==0.4.6.post1
cu2qu==1.5.0
git+https://github.com/typesupply/feaTools.git@8fc73f8ad5523cb6d9e0c8ac966eeb5dab5f7f49
fonttools==3.29.0
freetype-py==2.0.0.post6
git+https://github.com/googlei18n/nototools@8db437b21de59b2d7aba30429c60a78f3e853caa
numpy==1.15.1
pyclipper==1.1.0.post1
scipy==1.1.0
git+https://github.com/googlei18n/ufo2ft.git@70a73822832f71516a095bd7595b4fff26e33c1e
ufoLib==2.3.1
defcon==0.5.2

# Cython==0.27.3  # disabled since python 3.7 support is work in progress
# Pure-python versions of what we normally build with cython:
booleanOperations==0.8.0
# robofab==1.2.1
fontParts==0.8.0

git+https://github.com/robofab-developers/fontPens.git@dde6d62d4723b04ba54efbc6ab68ece2dacf9eb1
