<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>Kacyr</key>
	<string>K_acyr.glif</string>
	<key>Khook</key>
	<string>K_hook.glif</string>
	<key>Lambda</key>
	<string>L_ambda.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q_rthook</key>
	<string>Q__rthook.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>ccurl</key>
	<string>ccurl.glif</string>
	<key>dngb_ballotx</key>
	<string>dngb_ballotx.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>figurespace</key>
	<string>figurespace.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>mu</key>
	<string>mu.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nine.1</key>
	<string>nine.1.glif</string>
	<key>nine.tnum.1</key>
	<string>nine.tnum.1.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>punctuationspace</key>
	<string>punctuationspace.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>rfishhook</key>
	<string>rfishhook.glif</string>
	<key>rightloop.cn</key>
	<string>rightloop.cn.glif</string>
	<key>six.1</key>
	<string>six.1.glif</string>
	<key>six.tnum.1</key>
	<string>six.tnum.1.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>trianglebullet</key>
	<string>trianglebullet.glif</string>
	<key>uni0224</key>
	<string>uni0224.glif</string>
	<key>uni024C</key>
	<string>uni024C_.glif</string>
	<key>uni2C7F</key>
	<string>uni2C_7F_.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
</dict>
</plist>
